APP_ENV=local
APP_KEY=base64:a3CkCTjS4bQ5vmDEOVc9HyNRUoCNoimvnv0MTOFou6g=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=https://kartpay.in

SESSION_DOMAIN=.kartpay.in


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=eyJpdiI6ImtBN0NyKzRpNWZGSmZ5MTd0anVTSmc9PSIsInZhbHVlIjoiQW83WEdqNzBcL3A5bThMcEh3SHBUUVhrajBcL05TUzZ5WnFYaldYNWlpT25vPSIsIm1hYyI6ImQ4NjcyNGQ0YWJjZWZkZTkxMWNiNmUxZTJkZjQ3Y2Q0MzBkMjExMTM3MDg4ODg1OWI4ZWUyMmQyMzdlOGY5MWMifQ==
DB_USERNAME=eyJpdiI6IktWT09tdmZMRndxXC9BMXdiRmlFUGVRPT0iLCJ2YWx1ZSI6InBET3dCeXhyK3B6ajViSFdudXNxWlE9PSIsIm1hYyI6ImNlNzcxMTU5Mjc3ODc0OGFhNjIzYjBmNTIxZTM2OGRjMjg3NzhlZmUxNGZhMGU0M2NkMGE1NWQ1Y2VkODZiMmUifQ==
DB_PASSWORD=eyJpdiI6InJIY3AwR0poOVYwemlqOEFMY2JrdWc9PSIsInZhbHVlIjoiXC94cjl0YW5xR1hzUk02Kzl6cVdEVHc9PSIsIm1hYyI6IjljN2JmMzhmOTZlZWIwNDE5NDRkOGViN2JjNDZiMTAwNDZhMzdkNjgwNzRlZmE5ZDk1NTk4MjljNzU1OTIwZTkifQ==

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=database
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=sachin@peopleskart.com
MAIL_PASSWORD=tataindicom123
MAIL_ENCRYPTION=tls

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

SENDGRID_API_KEY=

MAIL_FROM_ADDRESS=Notification@kartpay.com
MAIL_FROM_NAME=Kartpay-Verification

SMS_URL=
SMS_SENDER=KRTPAY
SMS_USERNAME=kartpay
SMS_PASSWORD=10323
OTP_SETTING=1

ACTIVITY_LOGGER_ENABLED=true

BUGSNAG_API_KEY=4248345a7df6140f64ea2da40701ad03
